@charset "utf-8";
/* CSS Document */
body {
	background-image: url(../images/puzzle2.jpg);
	background-repeat: repeat;
	background-color: #333;
	color: #FFF;
	font-family: 'Luckiest Guy', sans-serif;
	font-size: 16px;
}

.hidden { display: none }

#game-boards { width: 100%; text-align: center; }

.puzzle-pieces, .puzzle-board {
	margin-top: 40px;
	height: 400px;
	display: inline-block;
	border: medium solid #333;
	background-color: #000;
	color: inherit;
	overflow: hidden;
}

.puzzle-pieces { width: 300px; margin-right: 20px; }

.puzzle-board { width: 600px; }

.puzzle-image {
	width: 40%;
	display: block;
	padding: 8px;
	cursor: pointer;
}

/* arrange the puzzle pieces on the board */

.tl, .bl {text-align: right;}
.tr img {bottom: 0;}
.tl img {bottom: 0;}
.bl img {right: 0;}

.drop-zone img {
	width: auto !important;
	padding: 0 !important;
	cursor: pointer;
	position: absolute;
}

/* set up drop zones */

.drop-zone {
	width: 49.5%;
	height: 49.5%;
	border: thin dashed white;
	float: right;
	position: relative;
}

/* end board styles */


header {
	position: relative;
	top: 20px;
	width: 600px;
	margin: 0px auto;
	text-align: center;
}

header h1 {
	font-size: 3.25em;
  	letter-spacing: 3px;
	margin: 10px 0
}

header p, footer p {
	font-size: 1.7em;
	letter-spacing: 2px;
	margin: 10px 0
}

footer {
	position: relative;
	width: 600px;
	margin: 65px auto 0;
	text-align: center;
}

#button-holder { margin: 0px auto; text-align: center; }

#button-holder img {
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 20px;
	border: thin solid #333;
	cursor: pointer;
}

#button-holder img:hover { opacity: .5; }

#reset-button {
	padding-top: 65px;
}

#reset-button button {
	color: white;
	font-size: 20px;
	height: 60px;
	width: 150px;

	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100;Brown+Red+3D */
background: #a90329; /* Old browsers */
background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */

}

#reset-button button:hover {
	color: white;
	font-size: 20px;
	height: 60px;
	width: 150px;
	
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#6d0019+0,8f0222+56,a90329+100 */
background: #6d0019; /* Old browsers */
background: -moz-linear-gradient(top,  #6d0019 0%, #8f0222 56%, #a90329 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #6d0019 0%,#8f0222 56%,#a90329 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #6d0019 0%,#8f0222 56%,#a90329 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d0019', endColorstr='#a90329',GradientType=0 ); /* IE6-9 */

}
